@import "../../../scss/media-queries.scss";

.topContainer {
  margin: 0;
  margin-top: 20px;
  margin-bottom: 20px;
}

.searchIcon {
  font-size: 1.35rem !important;
  color: green;
}

.clearIcon {
  font-size: 1.35rem !important;
  color: red;
}

.align-center {
  text-align: center;
}

@include respond-below(md) {
  td::before {
    font-weight: bold;
    text-align: left;
    margin-right: 15px;
  }

  td:nth-of-type(1):before { content: "#"; }
	td:nth-of-type(2):before { content: "Date:"; }
	td:nth-of-type(3):before { content: "Vehicle:"; }
	td:nth-of-type(4):before { content: "Driver:"; }
	td:nth-of-type(5):before { content: "Driver Phone:"; }
	td:nth-of-type(6):before { content: "LR #:"; }
	td:nth-of-type(7):before { content: "Items #:"; }
	td:nth-of-type(8):before { content: "From:"; }
	td:nth-of-type(9):before { content: "To:"; }
}

.pagination {
  display: flex;
  justify-items: right;
}

.flex-fill {
  flex-grow: 1;
}

.page-select {
  display: flex;
  align-items: center;
  font-size: 12px;

  .label {
    margin: 0 4px;
  }

  mat-form-field {
    width: 50px;
  }
}
