@import '../../../scss/variables.scss';

mat-card {
  margin-bottom: 20px;
}

mat-option:hover {
  background: $primary !important;
  color: #fff;
}

mat-option.mat-active {
  background: $primary !important;
  color: #fff;
}

.saveBtn {
  min-width: 200px;
  min-height: 50px;
  text-align: center;
}

.radio-row {
  .radio-field {
    mat-label {
      display: block;
      margin-bottom: 5px;
      font-size: 85%;
      color: #3949ab;
    }
  }
  mat-radio-button {
    margin-right: 15px;
  }
}

@media (max-width: 960px) {
  .radio-field {
    margin-bottom: 15px !important;
  }
  .radio-field:first-child, .radio-field:last-child {
    margin-bottom: 5px !important;
  }
}
